@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');


body {
	/* background-color: #; */
	/* background-color: #020014; */
	/* background-image: linear-gradient(#020014,#0d0014); */
	background: rgb(3,2,70);
	background: linear-gradient(90deg, rgba(3,2,70,1) 0%, rgba(1,55,93,1) 80%, rgba(78,0,84,1) 100%);
	/* background-image: linear-gradient(to left, #34002d, #2b042d, #21062c, #19062a, #110427, #0d0326, #080224, #030123, #030124, #040125, #040126, #040127); */
	margin: 0;
	padding: 0;
	animation: fadein 2s;
	border: 1px solid white;
}


#homecomponent {
	width: 100%;
	height: 50px;
	color: white;
}

.topnav {
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
	font-size: 17px;
	/* border:1px solid; */
}

.topnav a:hover {
	text-shadow: 1px 1px 5px #6702d2;
}
  
.topnav a.active {
	/* background-color: #4CAF50; */
	color: white;
}

#maintext {
	/* font-family: Vollkorn; */
	font-family: 'Fjalla One';
	/* font-family: 'Anton'; */
	/* font-family: 'Poppins'; */
	/* font-family: 'Nunito'; */
	/* font-family: 'Cairo'; */
	/* font-size: 40px; */
	color: #fff;
	/* font-weight: 700; */
	font-size: 23px;
	/* transform: scale(2); */
	padding: 10px;
	letter-spacing: 0px;
	text-transform: uppercase;
	margin-left: -25px;
	margin-top: 14px;
	animation: fadein 3s;
	/* animation: 2s ease-out 0s 1 slideInSpace; */
	/* border: 1px white solid; */
	text-shadow: 1px 1px 2px #4402d2;
	
}

#slogan {
	/* font-family: Vollkorn; */
	/* font-family: 'Fjalla One'; */
	font-family: 'Anton';
	/* font-family: 'Poppins'; */
	/* font-family: 'Nunito'; */
	/* font-family: 'Cairo'; */
	/* font-size: 40px; */
	color: #fff;
	/* font-weight: 700; */
	font-size: 120px;
	/* transform: scale(2); */
	padding: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	/* margin-left: 0px;
	margin-top: 14px; */
	animation: fadein 4s;
	/* animation: 2s ease-out 0s 1 slideInSpace; */
	/* border: 1px white solid; */
	text-shadow: 1px 1px 2px #4402d2;
}

#slogan_2 {
	/* font-family: Vollkorn; */
	/* font-family: 'Fjalla One'; */
	/* font-family: 'Anton'; */
	/* font-family: 'Poppins'; */
	/* font-family: 'Nunito'; */
	font-family: 'Cairo';
	/* font-size: 40px; */
	color: #fff;
	/* font-weight: 700; */
	font-size: 80px;
	/* transform: scale(2); */
	padding: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	/* margin-left: 0px;
	margin-top: 14px; */
	animation: fadein 4s;
	/* animation: 2s ease-out 0s 1 slideInSpace; */
	/* border: 1px white solid; */
	text-shadow: 1px 1px 2px #4402d2;
}

#logo {

}


@keyframes fadein {
	0% {
	  opacity: 0;
	}
	/* 10% {
		opacity: 0.1;
	}

	70% {
		opacity: 0.2;
	}

	80% {
		opacity: 0.5;
	}

	90% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	} */

	100% {
		opacity: 1;
	}
  }
  


@keyframes slideInSpace {
	0% {
	  transform: translateX(-100%);
	  letter-spacing: -80px;
	  opacity: 0;
	}
	10% {
		transform: translateX(-100%);
		letter-spacing: -80px;
		opacity: 0.1;
	}

	70% {
		letter-spacing: -40px;
		transform: translateX(0);
		opacity: 0.2;
	}

	80% {
		letter-spacing: -30px;
		transform: translateX(0);
		opacity: 0.5;
		font-size: 25px;
	}

	90% {
		letter-spacing: -10px;
		transform: translateX(0);
		opacity: 1;
		font-size: 19px;
	}

	95% {
		letter-spacing: -5px;
		transform: translateX(0);
		opacity: 1;
		font-size: 19px;
	}

	100% {
		letter-spacing: -5px;
		transform: translateX(0);
		opacity: 1;
		font-size: 19px;
	}
  }
  
